.proshow-container {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    position: relative;
    grid-row-gap: 2rem;

}


.proshow-container img {
    width: 100%;
    padding: 0 2% 0 2%;
}