@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    background-color: #dde1e7;
    font-family: 'Poppins', sans-serif;

}
.heading{
    text-align: center;
}
.bold{
    font-weight: 900;
    color: rgb(145, 1, 1);
}
.logo{
    width: 70px;
    align-content: center;
}

.container {
    margin-top: -10%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #dde1e7;
    }
.container .card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	height:320px;
	width: 50%;
	background: #dde1e7;
	border-radius: 5px;
	box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
    
}
.container .card .donbox{
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    font-weight: 900;
    cursor: pointer;
    font-size: 15px;
    height: 70px;
    width: 120px;
    margin: 45px;
	background: #dde1e7;
	border-radius: 5px;
	box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}
.container .card  .donbox:hover{
    font-size: 14px;


    height: 70px;
    width: 120px;
    margin: 45px;
	background: #dde1e7;
	border-radius: 5px;
	box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

.ownbox{
    display: flex;
	justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    font-weight: 900;
    margin-left: 50px;
	background: #dde1e7;
	border-radius: 50%;
	box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
    position: relative;
    cursor: pointer;
}
.ownbox:hover{
	box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
    font-size: 14px;

}


/*MEDIA-------------------------------------------------------------------------------------------------------
/*MEDIA-------------------------------------------------------------------------------------------------------
/*MEDIA-------------------------------------------------------------------------------------------------------
/*MEDIA-------------------------------------------------------------------------------------------------------
/*MEDIA-------------------------------------------------------------------------------------------------------*/


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
    .heading{
        margin-top: 50px;
        text-align: center;
    }
    
    
                          }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

    .heading{
        margin-top: 50px;
        text-align: center;
    }
                            }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .heading{
        margin-top: 50px;
        text-align: center;
    }
    
                        }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .heading{
        margin-top: -1%;

        text-align: center;
    }    
                            }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .heading{
        margin-top: -1%;
        text-align: center;
    }         
                            }
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    .heading{
        margin-top: -1%;
        text-align: center;
    }    
    .container {
        margin-top: -10%;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: #dde1e7;
        }
    .container .card{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height:320px;
        width: 50%;
        background: #dde1e7;
        border-radius: 5px;
        box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
        
    }.container .card .donbox{
        text-align: center;
        vertical-align: middle;
        line-height: 70px;
        font-weight: 900;
        cursor: pointer;
        font-size: 15px;

        height: 70px;
        width: 120px;
        margin-left: 50px;
        margin-top: 50px;
        background: #dde1e7;
        border-radius: 5px;
        box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
    }
    .container .card  .donbox:hover{
        font-size: 14px;
    
    
        height: 70px;
        width: 120px;
        margin-left: 50px;
        background: #dde1e7;
        border-radius: 5px;
        box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
    }
    .ownbox{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        height: 100px;
        width: 100px;
        margin-top: 30px;
        font-weight: 900;
        margin-left: 60px;
        background: #dde1e7;
        border-radius: 50%;
        box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
        position: relative;
        cursor: pointer;
    }
    .ownbox:hover{
        box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
        font-size: 12px;
    
    }
                            }