@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Megrim&display=swap');
		
body{
    background-color: #1b1b1b;
}











@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
                        }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
                            }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
                             }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    .rectangle{
        position: relative;
        margin-left: 35%;
        margin-top: 10%;
        height: 500px;
        width: 50%;
        border-radius: 25px;
         background-color: rgb(255, 255, 255);
    }               
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
        .rectangle{
            position: relative;
            margin-left: 40%;
            margin-top: 10%;
            height: 450px;
            width: 50%;
            border-radius: 25px;
             background-color: rgb(255, 255, 255);
        }        
}