@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

html, body {
     margin: 0;
     padding: 0;
     font-family: 'Bebas Neue', cursive;
     font-size: 150px;
     text-transform: uppercase;
     font-weight: 100;
     background-color: #222;
     color: #eee;
     height:50%;
     
}

html .content, body .content {
     text-align: center;
     top: 50%;
     position: relative;
     transform: translateX(-50%), translateY(-50%);
}

html .content span, body .content span {
     width: 100px;
     display: inline-block;
}











@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 

    font-size: 50px;


}
    
    
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }







